@light-border: ~'1px solid #d9d9d9';
@header-bg: #fff;
@body-bg: #fff;
@ant-prefix: 'antd';

@dnd-panel-prefix-cls: ~'xflow-node-panel';

.@{dnd-panel-prefix-cls} {
  border-right: @light-border;

  &-header {
    display: flex;
    justify-content: space-evenly;
    background: @header-bg;
    border-bottom: @light-border;
    &-title {
      font-size: 16px;
    }
    &-search {
      width: 100%;
      padding: 0px 12px;
    }
  }

  &-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 8px 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: @body-bg;
  }

  &-node-wrapper {
    cursor: pointer;
  }

  &-footer {
    display: flex;
    justify-content: space-evenly;
    background: @header-bg;
    border-top: @light-border;
    &-title {
      font-size: 16px;
    }
  }
}
